@tailwind base;
@tailwind components;
@tailwind utilities;


*{box-sizing: border-box; padding: 0; margin: 0;}

.active-nav { color: #fff; background: #635FC7; cursor:none;}
.active-nav:hover { background: #635FC7 !important;}


@layer base {
  body {
    @apply max-w-[1920px] mx-auto
  }
}




/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
